{
   "family": "{{ relayerName }}-{{ relayerId }}-container-{{ appTag }}",
   "containerDefinitions": [ 
      { 
         "name": "{{ relayerName }}-{{ relayerId }}-container-{{ appTag }}",
         "image": "ghcr.io/sygmaprotocol/sygma-relayer:stable",
         "logConfiguration": { 
            "logDriver": "awslogs",
            "options": { 
               "awslogs-group": "/ecs/{{ relayerName }}-{{ relayerId }}-{{ appTag }}",
               "awslogs-region": "{{ awsRegion }}",
               "awslogs-stream-prefix": "ecs"
            }
         },
         "portMappings": [ 
            { 
               "containerPort": 9000,
               "hostPort": 9000,
               "protocol": "tcp"
            },
            { 
               "containerPort": 9001,
               "hostPort": 9001,
               "protocol": "tcp"
           }
         ],
         "essential": true,
         "command": [
         "run",
         "--config=env",
         "--config-url=https://cloudflare-ipfs.com/ipns/k51qzi5uqu5dl7lcxeouwu0cgyaa6kz48a7ai1dwfjin9vsah8purks2va58hp",
         "--name=R{{ relayerId }}",
         "--blockstore=/mount/relayer{{ relayerId }}/lvldbdata"
         ],
         "environment": [
           {
               "name": "ENV_EXAMPLE",
               "value": "example"
           }
         ],
         "mountPoints": [
            {
               "sourceVolume": "efs",
               "containerPath": "/mount"
            }
         ],
         "volumesFrom": [],
         "secrets": [ 
            { 
               "name": "SYG_RELAYER_MPCCONFIG_KEY",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_KEY"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_KEYSHAREPATH",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_KEYSHAREPATH"
            },
            { 
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_ENCRYPTIONKEY",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_ENCRYPTIONKEY"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_PATH",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_PATH"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_URL",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_URL"
            },
            {
               "name": "SYG_DOM_1",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_DOM_1"
            },
            {
               "name": "SYG_DOM_2",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_DOM_2"
            },
            {
               "name": "SYG_DOM_3",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_DOM_3"
            }                                             
         ],
      }
   ],
    "executionRoleArn": "arn:aws:iam::{{ awsAccountId }}:role/{{ relayerName }}-{{ relayerId }}-ecsTaskExecutionRole",
    "networkMode": "awsvpc",
    "volumes": [
      {
         "name": "efs",
         "efsVolumeConfiguration": {
            "fileSystemId": "fs-0838f17409b0e572b",
            "rootDirectory": "/",
            "transitEncryption": "ENABLED"
         }
      }
   ],    
   "requiresCompatibilities": [ 
      "FARGATE" 
   ],
   "cpu": "1024",
   "memory": "2048",
   "runtimePlatform": {
      "operatingSystemFamily": "LINUX"
   }
}