{
   "family": "{{ relayerName }}-{{ relayerId }}-container-{{ TESTNET }}",
   "containerDefinitions": [ 
      { 
         "name": "{{ relayerName }}-{{ relayerId }}-container-{{ TESTNET }}",
         "image": "ghcr.io/sygmaprotocol/sygma-relayer:{{ set Sygma release version }}",
         "portMappings": [ 
            { 
               "containerPort": 9000,
               "hostPort": 9000,
               "protocol": "tcp"
            },
            { 
               "containerPort": 9001,
               "hostPort": 9001,
               "protocol": "tcp"
           }
         ],
         "essential": true,
         "command": [
         "run",
         "--config=env",
         "--config-url={{shared_config_url}}",
         "--name=R{{ relayerId }}",
         "--blockstore=/mount/relayer{{ relayerId }}/lvldbdata",
         "--latest=true"
         ],
         "environment": [
           {
               "name": "DD_SERVICE",
               "value": "relayers"
           },
           {
               "name": "SYG_RELAYER_LOGLEVEL",
               "value": "debug"
           },
            {
               "name": "SYG_RELAYER_OPENTELEMETRYCOLLECTORURL",
               "value": "http://localhost:4318"
            },
            {
               "name": "SYG_RELAYER_ID",
               "value": "{{ relayerId }}"
            },
            {
               "name": "SYG_RELAYER_ENV",
               "value": {{ env }}
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_KEYSHAREPATH",
               "value": "/mount/r{{ relayerId }}.keyshare"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_PATH",
               "value": "/mount/r{{ relayerId }}-top.json"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_FROSTKEYSHAREPATH",
               "value": "/mount/r{{ relayerId }}-frost.keyshare"
            }
         ],
         "mountPoints": [
            {
               "sourceVolume": "efs",
               "containerPath": "/mount"
            }
         ],
         "volumesFrom": [],
         "secrets": [ 
            { 
               "name": "SYG_RELAYER_MPCCONFIG_KEY",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_RELAYER_MPCCONFIG_KEY"
            },
            { 
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_ENCRYPTIONKEY",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer/SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_ENCRYPTIONKEY"
            },
            {
               "name": "SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_URL",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer/SYG_RELAYER_MPCCONFIG_TOPOLOGYCONFIGURATION_URL"
            },
            {
              "name": "SYG_CHAINS",
              "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/chainbridge/relayers/relayer-{{ relayerId }}/SYG_CHAINS"
            }
         ],
         "logConfiguration": {
            "logDriver": "awsfirelens",
            "options": {
              "tls.verify": "on",
              "remove_keys": "container_id,ecs_task_arn",
              "label_keys": "$source,$container_name,$ecs_task_definition,$ecs_cluster",
              "Port": "443",
              "host": " { request for the Loging ENDPOINT } ",
              "http_user": " { request for the USER_ID } ",
              "tls": "on",
              "line_format": "json",
              "Name": "loki",
              "labels": "job=fluent-bit,env=testnet,project=sygma,service_name=relayer-{{ relayerId }}-container-TESTNET,image={{ imageTag }}"
          },
          "secretOptions": [
              {
                "name": "http_passwd",
                "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/sygma/logs/grafana"
              }
            ]
         },
      },
      {
         "name": "log_router",
         "image": "grafana/fluent-bit-plugin-loki:2.9.3-amd64",
         "cpu": 0,
         "memoryReservation": 50,
         "portMappings": [],
         "essential": true,
         "environment": [],
         "mountPoints": [],
         "volumesFrom": [],
         "user": "0",
         "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
               "awslogs-group": "/ecs/relayer-{{ relayerId }}-TESTNET",
               "awslogs-create-group": "true",
               "awslogs-region": "{{ awsRegion }}",
               "awslogs-stream-prefix": "ecs"
               }
         },
         "systemControls": [],
         "firelensConfiguration": {
            "type": "fluentbit",
            "options": {
               "enable-ecs-log-metadata": "true"
            }
         }
      },
      {
         "name": "otel-collector",
         "image": "ghcr.io/sygmaprotocol/sygma-opentelemetry-collector:v1.0.3",
         "cpu": 0,
         "portMappings": [],
         "essential": true,
         "environment": [],
         "mountPoints": [],
         "volumesFrom": [],
         "secrets": [
            {
               "name": "GRAFANA_CLOUD",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/sygma/basicauth/secrets"
            },
            {
               "name": "USER_ID",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/sygma/basicauth/userid"
            },
            {
               "name": "ENDPOINT",
               "valueFrom": "arn:aws:ssm:{{ awsRegion }}:{{ awsAccountId }}:parameter/sygma/logs/grafana/endpoint"
            }
         ],
         "dockerLabels": {},
         "logConfiguration": {
            "logDriver": "awslogs",
               "options": {
                  "awslogs-group": "/ecs/{{ relayerName }}-{{ relayerId }}-{{ TESTNET }}",
                  "awslogs-create-group": "True",
                  "awslogs-region": "{{ awsRegion }}",
                  "awslogs-stream-prefix": "ecs"
               }
         }
      }
   ],
    "executionRoleArn": "arn:aws:iam::{{ awsAccountId }}:role/{{ relayerName }}-{{ relayerId }}-ecsTaskExecutionRole",
    "networkMode": "awsvpc",
    "volumes": [
      {
         "name": "efs",
         "efsVolumeConfiguration": {
            "fileSystemId": "{{ set your fileSystemId here }}",
            "rootDirectory": "/",
            "transitEncryption": "ENABLED"
         }
      }
   ],    
   "requiresCompatibilities": [ 
      "FARGATE" 
   ],
   "cpu": "1024",
   "memory": "2048",
   "runtimePlatform": {
      "operatingSystemFamily": "LINUX"
   }
}
