{
    "containerDefinitions": [ 
       { 
          "essential": true,
          "image": "ghcr.io/sygmaprotocol/sygma-relayer:stable",
          "logConfiguration": { 
             "logDriver": "awslogs",
             "options": { 
                "awslogs-group": "/ecs/{{ relayerName }}-{{ appTag }}",
                "awslogs-region": "{{ awsRegion }}",
                "awslogs-stream-prefix": "ecs"
             }
          },
          "command": [
            "run --config /cfg/config_evm-evm_1.json --testkey alice --fresh"
          ],      
          "name": "{{ relayerName }}-container-{{ appTag }}",
          "portMappings": [ 
             { 
                "containerPort": 9000,
                "hostPort": 9000,
                "protocol": "tcp"
             },
             { 
              "containerPort": 9001,
              "hostPort": 9001,
              "protocol": "tcp"
           }
          ],
          "environment": [
           {
              "name": "ENV_EXAMPLE",
              "value": "example"
           }
          ],
          "secrets": [ 
             { 
                "name": "SECRET_EXAMPLE",
                "valueFrom": "arn:aws:ssm:<REGION:<YOUR_AWS_ACCOUNT_ID>:parameter/chainbridge/example"
             }
          ]
       }
    ],
    "cpu": "256",
    "executionRoleArn": "arn:aws:iam::<YOUR_AWS_ACCOUNT_ID>:role/relayer-ecsTaskExecutionRole",
    "family": "{{ relayerName }}-container-{{ appTag }}",
    "memory": "512",
    "networkMode": "awsvpc",
    "runtimePlatform": {
         "operatingSystemFamily": "LINUX"
     },
    "requiresCompatibilities": [ 
        "FARGATE" 
     ]
  }